asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.7
dj-database-url==3.1.2
Django==5.2.14
django-phonenumber-field==8.4.0
greenlet==3.5.3
gunicorn==26.0.0
idna==3.18
packaging==26.2
phonenumbers==9.0.30
pillow==12.2.0
playwright==1.61.0
psycopg2-binary==2.9.12
pyee==13.0.1
python-dotenv==1.2.2
pytz==2026.1.post1
requests==2.34.2
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2026.1
urllib3==2.7.0
websocket-client==1.9.0
whitenoise==6.12.0
